@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
:root {
    --color-white: #ffffff;
    --color-gary: #CCCCCC;
    --color-sky1: #2682a6;
    --color-sky2: #6BB0BF;
    --color-darkgary: #666666;
    --color-green1: #6e8c03;
    --color-green2: rgb(90, 115, 2);
    --color-green3: rgb(79, 89, 2);
    --color-hr: #E8E8E8E8;
    --color-background: #f2f2f278;
    --color-red: #aa0808;
    --color-brothers:rgb(242, 226, 5);
    --color-monkeys:rgb(168, 3, 8);
    --color-guardians:rgb(3, 102, 207);
    --color-dragons:rgb(249, 26, 26);
    --color-lions:rgb(242, 112, 5);
    --color-navy: rgb(29, 46, 93);
    --color-bred: rgb(213, 31, 67);
    --color-begie: rgb(231, 212, 139);
    --color-none: rgb(143, 194, 63);
}

body{
    font-family: 'Paytone One', sans-serif;
    margin: 0;
    background-color:var(--color-begie);
}

/* .bg-body-tertiary-customize{   
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--color-sky1);
} */
.test{
    width:auto!important;
    background-color:var(--color-navy)!important;
}
.head{
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 50px;
    /* margin: 10px 0 10px 0;  */
}
/* .img-home{
    width: 50px;
    height: 30px;
} */
.home-logo{
    position: relative;
    z-index: 0;
    width:350px;
    /* top:10px; */
}
.domain-name{
    position: absolute;
    z-index: 1;

    /* display: flex;
    justify-content: center; */
    /* width: 220px; */
    font-size: 30px;
    color:var(--color-white);
    cursor: pointer;
}
.images{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width:150px;
    height:50px;
    filter: drop-shadow(0 0 5px #000)
}
.CPBL{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 50px;
    color: var(--color-navy);
    font-size: 20px;
}

