@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
:root {
    --color-white: #ffffff;
    --color-gary: #CCCCCC;
    --color-sky1: #2682a6;
    --color-sky2: #6BB0BF;
    --color-darkgary: #666666;
    --color-green1: #6e8c03;
    --color-green2: rgb(90, 115, 2);
    --color-green3: rgb(79, 89, 2);
    --color-hr: #E8E8E8E8;
    --color-background: #f2f2f278;
    --color-red: #aa0808;
    --color-brothers:rgb(242, 226, 5);
    --color-monkeys:rgb(168, 3, 8);
    --color-guardians:rgb(3, 102, 207);
    --color-dragons:rgb(249, 26, 26);
    --color-lions:rgb(242, 112, 5);
    --color-navy: rgb(29, 46, 93);
    --color-bred: rgb(213, 31, 67);
    --color-begie: #e7d48b;
    --color-none: rgb(143, 194, 63);
}

body{
    font-family: 'Paytone One', sans-serif;
    margin: 0;
    background-color:var(--color-begie);
}

.test{
    width:auto!important;
    background-color:var(--color-navy)!important;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    height: 50px;
    /* margin: 10px 0 10px 0;  */
}
.home-logo{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.domain-name{
    font-size: 30px;
    color:var(--color-white);
    margin: 0 0 0 30px;
    cursor: pointer;
}
.domain-name:hover{
    filter: drop-shadow(0 0 5px #e7d48b);
}
.team-logo{
    display: flex;
    justify-content: center;
    width:250px;
}
.head-team-logo{
    width: 40px;
    height: 40px;
    /* margin: 0 0 0 30px; */
    padding: 8px 8px 8px 8px;
    filter: drop-shadow(0 0 5px #e7d48b);
    cursor: pointer;
}
.head-team-logo:hover{
    padding: 3px 3px 3px 3px;
}
