:root {
    --color-white: #FFFFFF;
    --color-gary: #CCCCCC;
    --color-sky1: #2682a6;
    --color-sky2: #6BB0BF;
    --color-darkgary: #555353;
    --color-green1: #6e8c03;
    --color-green2: rgb(90, 115, 2);
    --color-green3: rgb(79, 89, 2);
    --color-hr: #E8E8E8E8;
    --color-background: #f2f2f278;
    --color-red: #aa0808;
    --color-brothers:rgb(242, 226, 5);
    --color-brothers2:rgb(197, 188, 62);
    --color-monkeys:#a80308;
    --color-guardians:rgb(3, 102, 207);
    --color-dragons:rgb(249, 26, 26);
    --color-lions:rgb(242, 112, 5);
    --color-navy: rgb(29, 46, 93);
    --color-bred: rgb(213, 31, 67);
    --color-begie: rgb(231, 212, 139);
    --color-none: #8fc23f;
    --color-glod:rgba(189,172,137)
}



main{
    display:block;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
    left:600px;
    top:200px;
  }
  .lds-grid div {
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background:#a80308;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 80px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 152px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 80px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 80px;
    left: 80px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 80px;
    left: 152px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 152px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 152px;
    left: 80px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 152px;
    left: 152px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

.information{
    display: none;
    justify-content: center;   
    margin: 30px 0 0 0;
}
.frame{
    display: flex;
    justify-content: center;
    width:1200px;
}
.image-box{
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
    width: 500px;
}
.fieldimage{
    position: absolute;
    z-index: 21;
    left:-70px;

    display: flex;
    justify-content: center;
    width:100%;
}
.pitchimage{
    position: absolute;
    z-index: 21;
    top:-20px;
    left:-80px;

    display: flex;
    justify-content: center;
    width:100%;
}

.num{
    position: absolute;
    z-index: 22;
    bottom:-120px;
    left:-20px;

    font-size: 280px;
    opacity: 0.8;
    color:var(--color-navy);
}
.team{
    position: absolute;
    z-index: 22;
    top:20px;
    right:0;

    font-size: 28px;
}

.name{
    position: absolute;
    z-index: 22;
    top: 60px;
    right: -8px;

    font-size: 60px;
}
.o-name{
    position: absolute;
    z-index: 22;
    top: 150px;
    right:0;
}
.retireimage{
    position: absolute;
    z-index: 22;
    top: 140px;
    left: 250px;
    width:80px;
}
.advanced{
    position: absolute;
    z-index: 22;
    top:256px;
    right:0;
    width:90px;
    height:290px;
    border-radius: 5px;
    background-color: rgba(143,178,206);
}
.latest-year{
    position: absolute;
    z-index: 22;
    top: 10px;
    right: 25px;
    font-size: 18px;
    color: var(--color-navy);
}
.data1{
    position: absolute;
    z-index: 22;
    top: 50px;
    right:10px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    color:var(--color-glod);
    background-color: var(--color-navy);
}
.data2{
    position: absolute;
    z-index: 22;
    top: 130px;
    right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    color:var(--color-glod);
    background-color: var(--color-navy);
}
.data3{
    position: absolute;
    z-index: 22;
    top: 210px;
    right:10px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    color:var(--color-glod);
    background-color: var(--color-navy);
}
.data-title{
    text-align: center;
    padding: 3px 5px 3px 5px;
    font-size: 12px;
}
.data-content{
    text-align: center;
    margin: 2px 0 2px 0;
}
.info-card{
    display: block;
    width: 700px;
    margin: 0 0 0 50px;
}
.card-body{
    display: flex;
}
.other-info{
    display: block;
    margin: 0 0 0 70px;
}
.box{
    width:340px;
    padding: 2.7px 0 2.6px 0 ;
}
.box-bar{
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    background-color: rgba(118, 118, 118, 0.3);
}
.box-title{
    font-size: 14px;
    color:#686e72;
    margin:0 0 0 10px;
}
.box-content{
    display: flex;
    justify-content: right;
    width:225px;
    margin:0 10px 0 0;
    color:var(--color-navy);
}

.diagram{
    display: flex;
    justify-content: right;
}
.doughnut_box{
    position: relative;
    width: 230px;
    height: 230px;
    margin: 0 0 0 30px;
}
.line_box{
    width: 600px;
    height: 280px;
    margin: 0 0 30px 0;
}

.digital {
    display: none;
    justify-content: center;
    margin: 30px 0 0 0 ;
}
.dig-box{
    width:1200px;
    margin: 0 50px 0 50px;
}
table {
    border: 2px solid var(--color-white)!important;
    font-size: 10px;
    font-family: proxima-nova, "open Sans", Helvetica, Arial, sans-serif;
}

tr {
    border: 0.5px solid var(--color-darkgary);
}
td {
    font-size: 10px;
    height: 30px;
}
.center-align {
    text-align: center;
}
