@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Oswald&display=swap');
:root {
    --color-white: #ffffff;
    --color-gary: #CCCCCC;
    --color-sky1: #2682a6;
    --color-sky2: #6BB0BF;
    --color-darkgary: #666666;
    --color-green1: #6e8c03;
    --color-green2: #5a7302;
    --color-green3: rgb(79, 89, 2);
    --color-hr: #E8E8E8E8;
    --color-background: #f2f2f278;
    --color-red: #aa0808;
    --color-navy: rgb(29, 46, 93);
    --color-bred: rgb(213, 31, 67);
    --color-begie: rgb(231, 212, 139);
    --color-none: rgb(143, 194, 63);
}

main{
    display: flex;
}

.background-image{
    display: flex;
    /* justify-content: right;   */
}
.backimages{
    width:750px;
    opacity: 0.3;
}
.front-data{
    position: relative;
    z-index: 11;
    width: 1000px;
    left: -500px;
    top: 0;

}
.slogan{
    position: absolute;
    z-index: 12;
    right: 220px;
    top: 50px;
    color: var(--color-darkgary);
}
.search{
    display: block;
    position: absolute;
    z-index: 12;
    top: 50px;
    right: -50px;
}

.form{
    display: flex;
    justify-content: center; 
}
.search-bar{
    display: flex;
    justify-content: center;
}
input{
    /* width: 200px; */
    /* height: 32px; */
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 3px 3px 3px 3px;
    border: none;
}
input:focus{
    outline: none;
}
/* .send-btn{
    border: 1px solid var(--color-white);
    border-radius: 0 3px 3px 0;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */
.player-menu{
    display: block;
    width: 198px;
    max-height: 170px;/*245px;*/
    overflow:auto;
    margin:2px 0 0 0 ;
    border:0;
    border-radius: 3px;
    background-color: rgba(255,255,255, 0.8);
}
.player-item{
    display:flex;
    justify-content: center;
}
.input-player-name{
    font-size: 18px;
    padding:8px 10px 8px 10px;
    cursor: pointer;
}
.input-player-id{
    display: none;
    color: white;
}
.team-image{
    width:50px;
    height:50px;
    overflow: hidden;
    padding:8px 10px 8px 10px;
}

.error-box{
    display: none;
    justify-content: center;
}
.error-name{
    white-space: pre-line;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 3px 20px 3px 20px;
    border-radius: 3px;
    color: var(--color-white);
    background-color: var(--color-bred);
}
.game-data{
    position: absolute;
    z-index: 9;
    top: 450px;
    right: -50px;

    display:block;
    /* justify-content: center; */
    width: 600px;
    /* border: 1px solid var(--color-white); */
    border-radius: 5px 5px 5px 5px;
    background-color:  rgba(255,255,255, 0.7);
}
.game-title{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 30px;
    padding: 0 15px 0 15px;
    margin: 8px 0 8px 0;
}

.time-local{
    display: flex;
    justify-content: center;
}
.time{
    display: flex;
    justify-content: left;
    width:225px;
}
.location{
    display: flex;
    justify-content: right;
    width:225px;
}
.game-team{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0 ;
}
.home-team{
    display: flex;
    justify-content: left;
    font-size: 20px;
    width:150px;
    margin: 0 0 0 10px ;
}
.guest-team{
    display: flex;
    justify-content: right;
    font-size: 20px;
    width:150px;  
    margin: 0 10px 0 0 ;
}

.score{
    font-size: 20px;
    margin:0 5px 0 5px;
    color: var(--color-bred);
}
/* .home-score{
    font-size: 20px;
    margin:0 5px 0 5px; 
} */
.colon{
    font-size: 24px;
}
.game-pitch{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0 ;
}
.start-pitch{
    display: flex;
    justify-content: center;
    /* width: 150px; */
}
.guest-pitch{
    display: flex;
    justify-content: right;
    margin:0 50px 0 0;
    width:100px;
}
.home-pitch{
    display: flex;
    justify-content: left;
    margin:0 0 0 50px;
    width:100px;
}
.game-player-data{
    display: flex;
    justify-content: center;
    margin: 30px 0 10px 0 ;
}
.win-pitch{
    margin:0 30px 0 0;
}
.lose-pitch{
    margin:0 30px 0 0;
}

.game-preview{
    position: absolute;
    z-index: 11;
    top: 250px;
    right: -50px;

    display:block;
    /* justify-content: center; */
    width: 600px;
    border-radius: 5px 5px 5px 5px;
    background-color:  rgba(255,255,255, 0.7);
}
.title-text{
    font-family: 'Nunito Sans', sans-serif;
}
/* .location{
    display: flex;
    justify-content: right;
} */
.no-game{
    display: none;
}
.game-detail{
    display: none;
}

.show-future-game{
    display:flex;
    /* margin: 0 20px 0 20px; */
    /* padding: 0 0 20px 0;
    width:560px;
    overflow:auto; */
}
.left-arrow{
    display: flex;
    align-items: center;
    margin: 0 5px 0 5px;
}
.fa-chevron-left{
    cursor: pointer;
}
.game-calendar-box{
    display:flex;
    /* margin: 0 20px 0 20px; */
    padding: 0 10px 20px 20px;
    width:560px;
    overflow-x: overlay;
}
.right-arrow{
    display: flex;
    align-items: center;
    margin: 0 5px 0 10px;
}
.fa-chevron-right{
    cursor: pointer;
}

.game-calendar{
    display:block;
    margin:0 30px 0 0;
    border-radius: 3px;
    border:2px solid var(--color-navy) ;
    min-width: 150px;
    padding:5px 5px 5px 10px;
}
.game-play-date{
    text-align: center;
    color: var(--color-navy);
    font-family: 'Nunito Sans', sans-serif;
    font-weight:bold;
}
.game-play-time{
    text-align: center;
    color: var(--color-darkgary);
}
.text{
    font-family: 'Nunito Sans', sans-serif;
}
.text-color{
    color:var(--color-bred);
}


.fieldboard{
    position: absolute;
    z-index: 12;
    top: 50px;
    right: -350px;

    display:block;
    /* justify-content: center; */
    width: 200px;
    border: 1px solid var(--color-white);
    border-radius: 5px 5px 5px 5px;
    background-color:  var(--color-white);
}
.title-box{
    display:flex;
    justify-content: center;
    height: 30px;
    flex-wrap: wrap;
    margin: 5px 0 5px 0;
}
.title-pos{
    display: flex;
    justify-content: center;
}
.pos{
    display: flex;
    justify-content: left;
    width:50px;
}
.index{
    display: flex;
    justify-content: right;
    width:70px;
    color: var(--color-red);
}

hr{
    height:2px; 
    width:96%; 
    border-width:0.5; 
    color:var(--color-hr); 
    /* background-color:var(--color-hr); */
    margin: 0;
    opacity: 1;
}
.pitchboard{
    position: absolute;
    z-index: 12;
    top: 390px;
    right: -350px;

    display:block;
    width: 200px;
    border: 1px solid var(--color-white);
    border-radius: 5px 5px 5px 5px;
    background-color:  var(--color-white);
}
.year-box{
    display: flex;
    justify-content: center;
}
.show-year{
    display: flex;
    justify-content: center;
    align-items: center;
    width:180px;
}
.field-year-title{
    font-size: 16px;
    /* font-family: 'Nunito Sans', sans-serif; */
    letter-spacing:1.3px;
}
.pitch-year-title{
    font-size: 16px;
    /* font-family: 'Nunito Sans', sans-serif; */
    letter-spacing:1.3px;
}

.field-years-frame{
    position: absolute;
    z-index:15;
    right:-75px;
    display: none;
    width:70px;
    height:234px;
    padding: 2px 0 0 15px;
    border-radius: 3px;
    background-color: rgba(255,255,255, 0.5);
    overflow: auto;
}
.pitch-years-frame{
    position: absolute;
    z-index:15;
    top: 40px;
    right:-75px;
    display: none;
    width:70px;
    height:234px;
    padding: 2px 0 0 15px;
    border-radius: 3px;
    background-color: rgba(255,255,255, 0.5);
    overflow: auto;
}
.fieldyear{
    font-size: 16px;
    padding: 2px 0 0 0;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;}
.pitchyear{
    font-size: 16px;
    padding: 2px 0 0 0;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;}
.icon{
    margin: 0 0 0 20px;
    cursor: pointer;
}
.fieldrank{
    margin:5px 0 0 0 ;
}
.pitchrank{
    margin:5px 0 0 0 ;
}
.rank-bar{
    display: flex;
    justify-content: center;
    padding: 5px 0 5px 0;
}
.rank-img{
    width:30px;
    padding:3px 5px 2px 5px;
}
.rank-name{
    display: flex;
    justify-content: left;
    width:70px;
}
.rank-avg{
    display: flex;
    justify-content: right;
    width:60px;
    font-family: 'Nunito Sans', sans-serif;
}

.fieldbtn{
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}
.pitchbtn{
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}
.pitchdbtn{
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}
.rank-btn{
    display: flex;
    justify-content: center;
    font-size: 12px;
    width:80px;
    padding: 3px 0 3px 0;
    border-radius: 3px;
    color: var(--color-white);
    background-color: var(--color-navy);
    cursor: pointer;
}
