{% extends "base.html" %}

{% block title %}{% endblock %}

{% load static %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/players.css' %}">
{% endblock %}


{% block content %}
<main>
    <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div class="information">
        <div class="frame">
            <div class="image-box">
                <div class="num"></div>
                <div class="team"></div>
                <div class="name"></div>
                <div class="o-name"></div>
                <div class="retire"></div>
                <div class="advanced">
                    <div class="latest-year"></div>
                    <div class="data1"></div>
                    <div class="data2"></div>
                    <div class="data3"></div>
                </div>
            </div>
            <div class="info-card">
                <div class="diagram">
                    <div class="line_box">
                        <canvas id="line"></canvas>
                    </div>
                </div>
                <div class="card-body">   
                    <div class="doughnut_box">
                        <canvas id="doughnut"></canvas>
                    </div>  
                    <div class="other-info"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="digital">
        <div class="dig-box">
            <table class="table table-striped">
                <thead>
                <tr></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</main>
<script src="{% static 'js/players.js' %}"></script>
{% endblock %}