{% extends "base.html" %}

{% block title %}{% endblock %}

{% load static %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/standings.css' %}">
{% endblock %}

{% block content %}
<main>
    {% csrf_token %}
    <div class="background-image"></div>
    <div class="front-data">
        <div class="slogan">
            <div>非賽季（off-season）的時候，寒冷的冬天，<br>球迷圍在火爐旁，討論喜愛的棒球員，
                <br>透過中華職棒的數據資料分析。
            </div>
        </div>
        <div class="search">        
            <div class="from">
                <div class="search-bar">
                    <label for=""></label>
                    <input class="text" id="search-text" type="text" name="text" placeholder="輸入球員姓名">
                </div>
            </div>
            <div class="player-menu"></div>
            <div class="error-box">
            </div>
        </div>
        <div class="game-preview">
            <div class="game-title">
                <div class="title-text">WBC-賽事預告</div><hr>
            </div>
            <div class="show-future-game">
                <div class="left-arrow"><i class="fa fa-chevron-left"></i></div>
                <div class="game-calendar-box"></div>
                <div class="right-arrow"><i class="fa fa-chevron-right"></i></div>
            </div>
        </div>
        <div class="game-data">
            <div class="game-title">
                <div class="time-local">
                    <div class="time"></div>
                    <div class="location"></div>
                    <div class="no-game"></div>
                </div><hr>
            </div>
            <div class="game-detail">
                <div class="game-team">
                    <div class="guest-team" id="guest-team">客隊</div>
                    <div class="score" id="guest-score">0</div>
                    <div class="colon">：</div>
                    <div class="score" id="home-score">0</div>
                    <div class="home-team" id="home-team">主隊</div> 
                </div>
                <div class="game-pitch">
                    <div class="start-pitch">
                        <div class="guest-pitch">客-先發</div>
                        <div class="home-pitch">主-先發</div>
                    </div>
                </div>
                <div class="game-pitch">
                    <div class="start-pitch">
                        <div class="guest-pitch guest-error">失誤</div>
                        <div class="home-pitch home-error">失誤</div>
                    </div>
                </div>
                <div class="game-player-data">
                    <div class="win-pitch">勝利投手</div>
                    <div class="lose-pitch">敗戰投手</div>
                </div>
            </div>
        </div>
        <div class="fieldboard">
            <div class="title-box">
                <div class="title-pos">
                    <div class="pos" id="pos-field">打者</div>
                    <div class="index">AVG</div>
                </div><hr>   
            </div>
            <div class="year-box">
                <div class="show-year">               
                    <div class="field-year-title">2022</div>
                    <div class="icon"><div class="dropdown-toggle" id="fieldarrow"></div></div>
                </div>
                <div class="field-years-frame"></div>
            </div>
            <div class="fieldrank"></div>
            <div class="fieldbtn">
                <div class="rank-btn" id="field-annual">查看年度排行</div>
            </div>
        </div>
        <div class="pitchboard">
            <div class="title-box">
                <div class="title-pos">
                    <div class="pos" id="pos-pitch">投手</div>
                    <div class="index">ERA</div>
                </div><hr>
            </div>
            <div class="year-box">
                <div class="show-year">
                    <div class="pitch-year-title">2022</div>
                    <div class="icon"><div class="dropdown-toggle" id="pitcharrow"></div></div>
                </div>
                <div class="pitch-years-frame"></div>
            </div>
            <div class="pitchrank"></div>
            <div class="pitchdbtn">
                <div class="rank-btn" id="pitch-annual">查看年度排行</div>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'js/standings.js' %}"></script>
{% endblock %}
