{% extends "base.html" %}

{% block title %}{% endblock %}

{% load static %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teams.css' %}">
{% endblock %}

{% block content %}
<main>
    {% csrf_token %}
    <div class="teams-box">
        <div class="teams-title">
            <ul class="nav nav-tabs teams-frame">
                <li class="nav-item">
                    <div class="nav-link team-box" aria-current="page">中信兄弟</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link team-box">樂天桃猿</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link team-box">富邦悍將</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link team-box">味全龍</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link team-box">統一7-ELEVEn獅</div>
                </li>
            </ul>
        </div>
        <div class="teams-content">
            <div class="team-players"></div>
        </div>
    </div>
</main>


<script src="{% static 'js/teams.js' %}"></script>
{% endblock %}
